.firstName {
    background-color: red;
    }
    .lastName {
    background-color: green;
    }
    .email {
    background-color: yellow;
    }
    #terms:checked {
    /* This is the property used to color checkbox checked state */
    accent-color: violet;
    }
    button {
    opacity: 50%;
    }